<article class="tool {{ .Params.rarity | default "magic" }}">
  <div class="head">
    <div class="gem">{{ partial "gem-icon.html" .Params.icon }}</div>
    <div>
      <h3><a href="{{ .Params.link | default .RelPermalink }}">{{ .Title }}</a></h3>
      {{ with .Params.typeline }}<div class="type">{{ . }}</div>{{ end }}
    </div>
  </div>
  <hr>
  {{ with .Params.affixes }}
  <ul class="affixes">
    {{ range . }}<li>{{ . }}</li>{{ end }}
  </ul>
  {{ end }}
  {{ with .Params.flavor }}<p class="flavor">“{{ . }}”</p>{{ end }}
  <div class="foot">
    <span class="st{{ if eq .Params.statuskind "wip" }} wip{{ end }}">■ {{ .Params.status | default (i18n "toolStatusDefault") }}</span>
    {{ with .Params.metaline }}<span>{{ . }}</span>{{ end }}
  </div>
</article>
